@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';

}

main { 
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr; 
    min-height: 100%;
}


.panel{
    display: grid;
    grid-template-columns: 1fr;
}

.panel .text{
    padding: 30px 60px;
    background: #eeeee7;
    color: #0c3216;
}

.panel.welcome{
    background-color: #323230;
    color: #ffffff;
    padding: 30px 60px;
    grid-auto-rows: 1fr;
}

.panel.welcome nav a{
    color: #a8a8a8;
    text-decoration: none;
    margin-right: 20px;
}

.panel.welcome p{
    color: #a8a8a8;
    max-width: 540px;
    line-height: 2em;
}

.panel.welcome h1{
    font-size: 3em;
    color: #eeeee7;
    
}

.panel.welcome footer{
    align-self: end;

}

.panel.about {
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
    
}

.panel.about img{
    min-width: 100%;
    min-height: 50%;
}

.panel.photos {
    grid-template-rows: 1fr 3fr;
    overflow:hidden;
}
.panel.photos img{
    min-width: 100%;
    min-height: 100%;
}
/* Set the container to display as a grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 20px;
}

/* Set the grid items to span the full width of the container */
.grid-item {
  grid-column: span 3;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }

  .grid-item {
    grid-column: span 2;
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* One column */
  }

  .grid-item {
    grid-column: span 1;
  }
}
